html, .App {
  background-color: rgba(15, 23, 42, 1);
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61b4fb;
}

main {
  width: 80%;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  border-top: 1px solid black;
  width: 100%;
}

.pageH1SEO {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  #galleryBanner {
    flex-direction: column!important;
  }

  .cacheWindow {
    min-width: unset!important;
  }

  h2.text-white.mt-5.mb-5 {
    margin-bottom: 0!important;
  }
}