.rcsMessage {
    padding: 0!important;
    margin-bottom: 0!important;
}

.cacheOn,
.cacheOff {
    padding-left: 10px;
}

.verticalHR {
    background-color:#C80000;
    color:#C80000;
    -webkit-transform:rotate(90deg);
    position:absolute;
    width:100px;
    height:2px;
    left:130px;
    border:2px;
}

.cacheWindow {
    min-width: 500px;
}

.cacheDivider {
    display: flex;
    justify-content: center;
}

@media (max-width: 412px) {
    #galleryBanner {
        flex-direction: column;
    }

    .cacheWindow {
        min-width: unset;
    }

    h2.text-white.mt-5.mb-5 {
        margin-bottom: 0!important;
    }
}