.customBrand {
    text-align: start;
}

.brandImgContainer {
    width: 150px!important;
    height: 150px!important;
}

.louPortrait {
    width: 100%;
    height: 99%;
}

.dropdown-toggle {
    font-size: 1.25rem;
}

.innerLink {
    color: #212529;
    text-decoration: none;
}