.circle {
    * {
        height: 200px;
        width: 200px;
        overflow: hidden;
        background-image: url("../../../assets/images/loader/outerRing.svg");
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
    }

    .inner {
        background-size: calc((200px/100) * 40) calc((200px/100) * 40);
        border-radius: 50%;
        background-image: url("../../../assets/images/loader/circleFull.svg");
        -webkit-animation: cw 1.5s infinite;
        animation: cw 1.5s infinite;
    }

    .middle {
        background-size: calc((200px/100) * 72) calc((200px/100) * 72);
        background-image: url("../../../assets/images/loader/ring.svg");
        -webkit-animation: ccw 3s linear infinite;
        animation: cw 3s linear infinite;
    }
    .outer {
        -webkit-animation: cw 6s linear infinite;
        animation: cw 6s linear infinite;
    }
}

@-webkit-keyframes cw {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/* Standard syntax */
@keyframes cw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ccw {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

/* Standard syntax */
@keyframes ccw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
